.DS_Store
utils/keys.py
utils/__pycache__/
utils/one_step_to_two_step.py


data/AQUA
data/ASDiv
data/CLUTRR
data/date
data/infinityMath
data/MultiArith
data/saycan
data/sports
data/StrategyQA
data/SVAMP


run.sh

