.DS_Store
utils/keys.py
utils/__pycache__/
utils/one_step_to_two_step.py

data/CLUTRR
data/infinityMath
data/saycan
data/sports

utils/vis_fs/
utils/eval_results/

run.sh
test.py

results/
results_auto_tagging/
agents/__pycache__/
__pycache__/

data/
